{{#partial "content"}}
    <div class="col-md-12 row">
        <div class="text-center col-sm-12 pt-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/tiger.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="/endangeredform">  <h5 class="card-text">Add Endangered Animal</h5></a>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-12 pt-3 offset-md-1 col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/lion.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="/animal-form">  <h5 class="card-text">Add Animal</h5></a>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-12 offset-md-1 pt-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/location.jpg" alt="Card image cap">
                <div class="card-body">
                   <a href="/sightingform"> <h5 class="card-text">Add Sighting</h5></a>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}